img{
    width: 40%;
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(41, 30, 18);
}
#founder{
    width: 20%;
}
#right_img{
    margin-left: 20px;
}
img{
    border: ridge 12px rgb(54, 39, 31);
}
body{
    background-image: linear-gradient(to bottom,#f8af82,#fcc99d,#fcd0a9);
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px ;

}